Source: zotero-standalone-build
Section: text
Priority: optional
Maintainer: Michele Cane <michele.cane@gmail.com>
Build-Depends: debhelper (>= 9.0.0), zip
Standards-Version: 3.9.4
Homepage: http://www.zotero.org/
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/zotero-standalone.git;a=summary
Vcs-Git: git://anonscm.debian.org/collab-maint/zotero-standalone.git

Package: zotero-standalone
Architecture: i386 amd64
Depends: xulrunner-10.0 | xulrunner-12.0 | xulrunner-11.0, ${misc:Depends}
Enhances: zotero-libreoffice-integration
Description: organize and share your research sources
 Zotero is helps you collect, manage,  and cite your research sources.
 It can automatically gather bibliographic information about resources
 available in hundreds of databases, library catalogs and the web.
 .
 Zotero also allows you to store your libraries online, so that they can be
 accessed from any computer. Your online collections can also be shared with
 other Zotero users, letting you collaboratively create bibliographies and
 research notes.
 .
 This package contains the standalone version of Zotero which does not
 require any Iceweasel/Firefox browser.

Package: zotero-libreoffice-integration
Architecture: i386 amd64
Depends: zotero-standalone | xul-ext-zotero, libreoffice-java-common, ${misc:Depends}
Recommends: libreoffice-writer
Description: LibreOffice plugin to organize and share your research sources
 Zotero is helps you collect, manage,  and cite your research sources.
 It can automatically gather bibliographic information about resources
 available in hundreds of databases, library catalogs and the web.
 .
 Zotero also allows you to store your libraries online, so that they can be
 accessed from any computer. Your online collections can also be shared with
 other Zotero users, letting you collaboratively create bibliographies and
 research notes.
 .
 This package contains the plugin to integrate Zotero in LibreOffice Writer.

