#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DEBIAN_VERSION := $(shell dpkg-parsechangelog | grep ^Version | cut -d ' ' -f 2)

%:
	dh $@ 

override_dh_auto_build:
	./build.sh -p l -v ${DEBIAN_VERSION} -d
	dh_auto_build -a

override_dh_auto_install:
	rm -f staging/zotero-standalone/COPYING
	rm -f staging/zotero-libreoffice-integration/COPYING
	dh_auto_install -a

override_dh_auto_clean:
	rm -rf staging
	dh_auto_clean -a
